<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51OvIMSfLWL.jpg" alt="gothic" class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis magni quisquam perspiciatis dolorem provident doloribus quis, nobis minima temporibus itaque nam hic exercitationem architecto laboriosam deserunt odit ratione, rerum inventore.</p>
        <div class="clearfix">
            <div class="price pull-left">$20</div>
            <a href="#" class="btn btn-default pull-right btn-success" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51OvIMSfLWL.jpg" alt="gothic" class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis magni quisquam perspiciatis dolorem provident doloribus quis, nobis minima temporibus itaque nam hic exercitationem architecto laboriosam deserunt odit ratione, rerum inventore.</p>
        <div class="clearfix">
            <div class="price pull-left">$20</div>
            <a href="#" class="btn btn-default pull-right btn-success" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51OvIMSfLWL.jpg" alt="gothic" class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis magni quisquam perspiciatis dolorem provident doloribus quis, nobis minima temporibus itaque nam hic exercitationem architecto laboriosam deserunt odit ratione, rerum inventore.</p>
        <div class="clearfix">
            <div class="price pull-left">$20</div>
            <a href="#" class="btn btn-default pull-right btn-success" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51OvIMSfLWL.jpg" alt="gothic" class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis magni quisquam perspiciatis dolorem provident doloribus quis, nobis minima temporibus itaque nam hic exercitationem architecto laboriosam deserunt odit ratione, rerum inventore.</p>
        <div class="clearfix">
            <div class="price pull-left">$20</div>
            <a href="#" class="btn btn-default pull-right btn-success" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51OvIMSfLWL.jpg" alt="gothic" class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis magni quisquam perspiciatis dolorem provident doloribus quis, nobis minima temporibus itaque nam hic exercitationem architecto laboriosam deserunt odit ratione, rerum inventore.</p>
        <div class="clearfix">
            <div class="price pull-left">$20</div>
            <a href="#" class="btn btn-default pull-right btn-success" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51OvIMSfLWL.jpg" alt="gothic" class="image-responsive">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis magni quisquam perspiciatis dolorem provident doloribus quis, nobis minima temporibus itaque nam hic exercitationem architecto laboriosam deserunt odit ratione, rerum inventore.</p>
        <div class="clearfix">
            <div class="price pull-left">$20</div>
            <a href="#" class="btn btn-default pull-right btn-success" role="button">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>